*{
    padding: 0;
    margin: 0;
}
.mainContainer{
    width: 100%;
    height: 100vh;
    background-color: rgb(43, 205, 226);
    display: flex;
    justify-content: center;
    align-items: center;

    /* @media screen and (max-width: 320px) {
        width: 50%;
    } */
}
.firstWrap{
    width: 90%;
    height: 95%;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    
}
.left{
    width: 50%;
    height: 100%;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media screen and (max-width: 500px) {
        display: none;
    }
}
.left img{
    width: 200px;
}
.right{
    width: 50%;
    height: 100%;
    background-color: rgb(27, 27, 49);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (max-width:500px ) {
        width: 90%;
    }
}

.textOne{
    width: 100%;
    /* height: 10%; */
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 40px; */
}
.textOne h1{
    font-size: 20px;
    font-weight: bold;
    color: white;
    opacity: 0.7;
    @media screen and (max-width: 536px) {
        font-size: 15px;
    }

    @media screen and (max-width: 536px) {
        font-size: 20px;
    }
}
.textOne h4{
    font-size: 10px;
    font-weight: bold;
    color: green;
    @media screen and (max-width: 768px) {
        display: none;
    }
}
.form{
    width: 100%;
    /* height: 70%; */
    /* background-color: springgreen; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.form form {
    width: 80%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: center; */

    @media screen and (max-width:500px ) {
        width: 90%;
    }
}

/* @media screen and (max-width: 536px) {
    .form form{
        width: 100%;
    }
} */
form input {
    /* width: 90%; */
    background-color:  transparent;
    border: 1px solid rgba(128, 128, 128, 0.4);
    padding: 9px 5px;
    outline: 0;

    @media screen and (max-width: 360px) {
        padding: 7px 3px;
    }

}
form p {
    margin-top: 8px;
    color: white;
    opacity: 0.6;

    @media screen and (max-width:500px ) {
        font-size: 10px;
    }

    @media screen and (max-width:500px ) {
        margin-top: 20px;
    }
}

.checkwithdiv {
    width: 90%;
    height: 20%;
    display: flex;
    align-items: center;
    /* justify-content:     space-between; */
    gap: 3%;
    /* margin: 10px 0; */
}
.checkwithdiv input {
    width: 15%;
    height: 100%;
}
.checkwithdiv p{
    font-size: smaller;
    /* font-size: 10px; */
    color: white;
    @media screen and (max-width:856px ) {
        font-size: 10px;
    }

    @media screen and (max-width:500px ) {
        font-size: 5px;
    }

    @media screen and (max-width:500px ) {
        font-size: 10px;
    }
}
.textTwo{
    width: 100%;
    /* height: 10%; */
    /* background-color: sienna; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    @media screen and (max-width: 930px) {
        display: none;
    }
}
.textTwo h1{
    font-size: 8px;
    font-weight: bold;
    color: white;
    margin: 0;
}
.textTwo p{
    font-size: 5px;
    font-weight: bold;
    color: white;
    margin: 0;
}
.form button{
    height: 10%;
    background-color: rgb(39, 129, 39);
    color: white;
    cursor: pointer;
    padding: 10px 0;
    margin: 10px 0;
    /* font-size: smaller; */

    @media screen and (max-width:500px ) {
        padding: 5px 0;
    }
}